*.parquet
fort.2
fort.3
fort.8
fort.16
fort.34
fc.2
fc.3
fc.8
fc.16
fc.34
beambeam_macros
db5
error_table.tfs
fidel
fre
hl14_collisions_unmask.mask
hl14_collisions.madx
hl14_collisions.unmasked
last_twiss.1.gz
lhc
myoptics.madx
slhc
twiss_bb
twiss_bb.b1
twiss_bb.b2
twiss_lhcb1.tfs
twiss.b1
twiss.b2
wise
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Untitled2-checkpoint.ipynb
.ipynb_checkpoints/Untitled3-checkpoint.ipynb
.ipynb_checkpoints/Untitled4-checkpoint.ipynb
.ipynb_checkpoints/Untitled5-checkpoint.ipynb
.vscode/settings.json
temp/MB_corr_setting.mad
temp/MB.errors
temp/MCX_setting.mad
temp/optics0_inser.mad
temp/optics0_MB.mad
temp/sliceho.input
temp/sliceho.madx
temp/sliceho.res
temp/surveyaux.tfs
temp/tripD1D2.errors
temp/twiss.tfs
examples/hl_lhc_collision_*
examples/hl_lhc_collision/error_all.tfs
examples/hl_lhc_collision/errors
examples/hl_lhc_collision/machines
examples/hl_lhc_collision/make_sequence.madx
examples/hl_lhc_collision/modules
examples/hl_lhc_collision/optics.madx
examples/hl_lhc_collision/out
examples/hl_lhc_collision/tools
examples/hl_lhc_collision/tracking_tools
examples/hl_lhc_collision/twiss_bpm_unperturbed.tfs
examples/hl_lhc_collision/twiss_crossing_disable.b1
examples/hl_lhc_collision/twiss_crossing_disable.b2
examples/hl_lhc_collision/twiss_crossing_enable.b1
examples/hl_lhc_collision/twiss_crossing_enable.b2
examples/hl_lhc_collision/temp/MB_corr_setting.mad
examples/hl_lhc_collision/temp/MB.errors
examples/hl_lhc_collision/temp/MCX_setting.mad
examples/hl_lhc_collision/temp/optics0_inser.mad
examples/hl_lhc_collision/temp/optics0_MB.mad
examples/hl_lhc_collision/temp/sliceho.input
examples/hl_lhc_collision/temp/sliceho.madx
examples/hl_lhc_collision/temp/sliceho.res
examples/hl_lhc_collision/temp/surveyaux.tfs
examples/hl_lhc_collision/temp/tripD1D2.errors
examples/hl_lhc_collision/temp/twiss.tfs
examples/machine_analysis/errors
examples/machine_analysis/machines
examples/machine_analysis/main.madx
examples/machine_analysis/main.py
examples/machine_analysis/make_sequence.madx
examples/machine_analysis/modules
examples/machine_analysis/optics.madx
examples/machine_analysis/simulation_tools
examples/machine_analysis/tools
examples/machine_analysis/twiss_crossing_disable.b1
examples/machine_analysis/twiss_crossing_disable.b2
examples/machine_analysis/twiss_crossing_enable.b1
examples/machine_analysis/twiss_crossing_enable.b2
examples/hl_lhc_collision/last_twiss_temp
examples/hl_lhc_collision/reference/temp/MB_corr_setting.mad
examples/hl_lhc_collision/reference/temp/MB.errors
examples/hl_lhc_collision/reference/temp/MCX_setting.mad
examples/hl_lhc_collision/reference/temp/optics0_inser.mad
examples/hl_lhc_collision/reference/temp/optics0_MB.mad
examples/hl_lhc_collision/reference/temp/sliceho.input
examples/hl_lhc_collision/reference/temp/sliceho.madx
examples/hl_lhc_collision/reference/temp/sliceho.res
examples/hl_lhc_collision/reference/temp/surveyaux.tfs
examples/hl_lhc_collision/reference/temp/tripD1D2.errors
examples/hl_lhc_collision/reference/temp/twiss.tfs
examples/hl_lhc_injection/errors
examples/hl_lhc_injection/machines
examples/hl_lhc_injection/make_sequence.madx
examples/hl_lhc_injection/modules
examples/hl_lhc_injection/optics.madx
examples/hl_lhc_injection/out
examples/hl_lhc_injection/tools
examples/hl_lhc_injection/tracking_tools
examples/hl_lhc_injection/twiss_bpm_unperturbed.tfs
examples/hl_lhc_injection/twiss_crossing_disable.b1
examples/hl_lhc_injection/twiss_crossing_disable.b2
examples/hl_lhc_injection/twiss_crossing_enable.b1
examples/hl_lhc_injection/twiss_crossing_enable.b2
examples/hl_lhc_injection/temp/optics0_inser.mad
examples/hl_lhc_injection/temp/optics0_MB.mad
examples/hl_lhc_injection/temp/sliceho.input
examples/hl_lhc_injection/temp/sliceho.madx
examples/hl_lhc_injection/temp/sliceho.res
examples/hl_lhc_injection/temp/surveyaux.tfs
examples/hl_lhc_injection/temp/twiss.tfs
examples/hl_lhc_injection/error_all.tfs
examples/hl_lhc_injection/reference/twiss_bpm_unperturbed.tfs
examples/hl_lhc_injection/reference/temp/MB_corr_setting.mad
examples/hl_lhc_injection/reference/temp/MB.errors
examples/hl_lhc_injection/reference/temp/optics0_inser.mad
examples/hl_lhc_injection/reference/temp/optics0_MB.mad
examples/hl_lhc_injection/reference/temp/sliceho.input
examples/hl_lhc_injection/reference/temp/sliceho.madx
examples/hl_lhc_injection/reference/temp/sliceho.res
examples/hl_lhc_injection/reference/temp/surveyaux.tfs
examples/hl_lhc_injection/reference/temp/twiss.tfs
examples/hl_lhc_injection/temp/MB_corr_setting.mad
examples/hl_lhc_injection/temp/MB.errors
examples/run3_collision/errors
examples/run3_collision/machines
examples/run3_collision/make_sequence.madx
examples/run3_collision/modules
examples/run3_collision/optics.madx
examples/run3_collision/out
examples/run3_collision/tools
examples/run3_collision/tracking_tools
examples/run3_collision/twiss_crossing_disable.b1
examples/run3_collision/twiss_crossing_disable.b2
examples/run3_collision/twiss_crossing_enable.b1
examples/run3_collision/twiss_crossing_enable.b2
examples/run3_collision/temp/sliceho.input
examples/run3_collision/temp/sliceho.madx
examples/run3_collision/temp/sliceho.res
examples/run3_collision/temp/surveyaux.tfs
examples/run3_collision/temp/twiss.tfs
examples/run3_collision/last_twiss.0.gz
miniconda
pytrain
sixtracktools
xfields
xline
xobjects
xpart
xtrack
