#rm modules
#ln -fns /home/sterbini/test_new_mask/v0.5/lhcmachines machines
#ln -fns /home/sterbini/test_new_mask/v0.5/lhctoolkit tools
ln -fns /home/sterbini/lhcmask modules
#ln -fns /home/sterbini/test_new_mask/v0.5/lhcerrors errors
